@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
  user-select: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
}

.draggable {
  -webkit-app-region: drag;
}

/* Panel tabs */
.tab-content[data-state='inactive'] {
  display: none;
}

/* Range Slider */
.range-slider {
  @apply !h-1.5 !bg-sage-5;
}

.range-slider__thumb {
  @apply !w-4 !h-4 !bg-rose-500;
}

.range-slider__thumb::after {
  content: attr(aria-valuetext);
  @apply absolute top-full left-1/2 mt-1.5 -translate-x-1/2 text-xs text-sand-11;
}

.range-slider__range {
  @apply !bg-rose-500;
}

/* Animation */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: transparent;
}

.circle-progress {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #fff;
}
